<!-- <p style="color: green"><%= notice %></p> -->

<div style="margin: 3em;">
  <%= link_to root_path, class: "home-button" do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
</div>

<div class="light-heading">
  <h1>Devices & Sessions</h1>
</div>

<div id="sessions" style="margin: 1em 3em;">
  <% @sessions.each do |session| %>
    <div id="<%= dom_id session %>">
      <p>
        <strong>User Agent:</strong>
        <%= session.user_agent %>
      </p>

      <p>
        <strong>Ip Address:</strong>
        <%= session.ip_address %>
      </p>

      <p>
        <strong>Session created at:</strong>
        <%= session.created_at %>
      </p>

    </div>
    
  <% end %>
</div>

