<!-- <p style="color: green; margin: 1em 3em;"><%= notice %></p>
<p style="color: red; margin: 1em 3em;"><%= alert %></p> -->

<div class="welcome_button purple_text" onclick="window.location.href='<%= guest_login_path %>'">
  <%= link_to "Enter using invite code", "#", class: "button-text" %>
</div>

<div class="light-heading">
  <h1>Sign in as DJ</h1>
</div>

<div class="additional-content">
  <%= form_with(url: sign_in_path) do |form| %>

    <div>
      <%= form.email_field :email, placeholder: "Email", value: params[:email_hint], required: true, autofocus: true, autocomplete: "email", class: "general-input" %>
    </div>
    <div>  
      <%= form.password_field :password, placeholder: "Password", required: true, autocomplete: "current-password", class: "general-input" %>
    </div>
    <p class="invalid-code"><%= alert %></p>
    <div class="button-margin">
      <%= button_to guest_login_path, method: :post, class: "general-submit-button" do %>
        <i class="fa-solid fa-right-to-bracket"></i>
      <% end %>
    </div>
  <% end %>

  <div class="additional-options">
    <%= link_to "Sign up", sign_up_path, style: "color: #e2e2e2; text-decoration: underline;" %>
    <%= link_to "Forgot your password?", new_identity_password_reset_path, style: "color: #e2e2e2; text-decoration: underline;" %>
  </div>
</div>
