<p style="color: red"><%= alert %></p>

<div style="margin: 3em;">
  <%= link_to root_path do %>
    <i class="fa-solid fa-house" style="color: white; font-size: 2em;"></i>
  <% end %>
</div>

<div class="light-heading">
  <h1>Forgot your password?</h1>
</div>

<%= form_with(url: identity_password_reset_path) do |form| %>
  <div class="general-input">
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email, required: true, autofocus: true %>
  </div>

  <div class="general-input">
    <%= form.submit "Send password reset email" %>
  </div>
<% end %>
