<!-- <p style="color: red"><%= alert %></p> -->

<div style="margin: 3em;">
  <%= link_to root_path, class: "home-button"  do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
</div>

<div class="light-heading">
  <h1>Forgot your password?</h1>
</div>

<%= form_with(url: identity_password_reset_path) do |form| %>

  <%= form.email_field :email, placeholder: "Email", required: true, autofocus: true, class: "general-input" %>

  <div class="button-margin">
    <%= form.button type: :submit, class: "general-submit-button" do %>
      <i class="fa-solid fa-check"></i>
    <% end %>
  </div>

<% end %>
