<div style="margin: 3em;">
  <%= link_to root_path, class: "home-button"  do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
</div>

<div class="light-heading">
  <h1>Sign up</h1>
</div>

<%= form_with(url: sign_up_path) do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.email_field :email, placeholder: "Email", value: @user.email, required: true, autofocus: true, autocomplete: "email", class: "general-input" %>
  </div>
  <div>
    <%= form.password_field :password, placeholder: "Password", required: true, autocomplete: "new-password", class: "general-input" %>
  </div>
  <div>
    <%= form.password_field :password_confirmation, placeholder: "Password confirmation", required: true, autocomplete: "new-password", class: "general-input" %>
  </div>

  <div class="button-margin">
    <%= form.button type: :submit, class: "general-submit-button" do %>
      <i class="fa-solid fa-check"></i>
    <% end %>
  </div>

<% end %>

<p class="rights-comment">&#169 2023, Zero Budget Solutions. All rights reserved.</p>