<p style="color: green; margin: 3em;"><%= notice %></p>

<div style="margin: 3em;">
  <%= link_to root_path do %>
    <i class="fa-solid fa-house" style="color: white; font-size: 2em;"></i>
  <% end %>
</div>

<h1 style="margin: 1.5em; color: #3b5223;">Tokens</h1>

<div id="tokens">
  <% @tokens.each do |token| %>
    <% if Current.user.email == token.email%>
      <%= render token %>
      <p>
        <%= link_to "Show this token", token %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New token", new_token_path %>

