<!-- <p style="color: green; margin: 3em;"><%= notice %></p> -->

<div style="margin: 3em;">
  <%= link_to root_path, class: "home-button"  do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
</div>

<div class="token-header">
  <h1>Tokens</h1>
  <%= render "form", token: @token %>
</div>
<div id="tokens">
  <% @tokens.each do |token| %>
    <% if Current.user.email == token.email%>
      <div class="card_with_button">
        <%= render token %>
        <div class="fill"></div>
        <button class="copy-button" data-copy-text="<%= token.code %>">
          <i class="fa-solid fa-copy"></i>
        </button>
        <div class="upvote_button">
          <%= button_to token_path(token), method: :delete, remote: true, style: "background: none; border: none; padding: 0; cursor: pointer;" do %>
            <i class="fa-solid fa-trash" style="font-size: 1.5em; color: #d74d3e; padding: 1.14em;"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<p style="margin: 6em; font-size: .5em;">&#169 2023, Zero Budget Solutions. All rights reserved.</p>
