<div class="notice"><%= notice %></div>

<div class="user-info">
  <p><%= Current.user.email %></p>
  <i class="fa-solid fa-circle-user"></i>
</div>

<h2 class="home_title">Your current jam</h2>
<div>
  <%= link_to "Enter jam", songs_path, class: "section-link" %>
</div>

<h2 class="home_title">Available tokens</h2>
<div>
  <%= link_to "All tokens", tokens_path, class: "section-link" %>
</div>
<!-- <div>
  <%= link_to "Create more tokens (todo)", new_token_path, class: "section-link" %>
</div> -->

<h2 class="home_title">Account settings</h2>
<div>
  <%= link_to "Change password", edit_password_path, class: "section-link" %>
</div>
<div>
  <%= link_to "Change email address", edit_identity_email_path, class: "section-link" %>
</div>
<div>
  <%= link_to "Devices & Sessions", sessions_path, class: "section-link" %>
</div>
<%= button_to "Log out", Current.session, method: :delete, class: "section-link log-out-button"%>
