<p style="color: green; margin: 1em 3em;"><%= notice %></p>

<% if session[:current_user_email] %>
  <div style="margin: 3em;">
    <%= link_to root_path do %>
      <i class="fa-solid fa-house" style="color: white; font-size: 2em;"></i>
    <% end %>
  </div>
<% end %>

<% if session[:current_token] %>
  <div class="buttons-footer">
    <%= button_to leave_jam_path, method: :delete, title: "Leave jam", class: "button-styling button-styling-logout" do %>
      <i class="fa-solid fa-power-off"></i>
    <% end %>

    <%= link_to new_song_path do %>
      <i class="fa-solid fa-plus button-styling"></i>
    <% end %>
  </div>
<% end %>

<div class="light-heading">
  <h1>Top Songs:</h1>
</div>

<div id="songs">
  <% @songs.each do |song| %>
    <% if !song.played %>
      <% matching_user = User.find_by(email: session[:current_user_email]) %>
      
      <% if matching_user %>
        <% if song.dj == matching_user.email %>

          <div class="card_with_button">
            <%= render song %>
            <div class="upvote_button">
              <%= button_to played_song_path(song), method: :put, remote: true, style: "background: none; border: none; padding: 0; cursor: pointer;" do %>
                <i class="fa-regular fa-circle-check" style="font-size: 1.5em; color: #7bdc98; padding: 2em;"></i>
              <% end %>
            </div>  
          </div>
          
        <% end %>
      <% else %>

        <% if session[:current_token] %>
          <% matching_token = Token.find_by(code: session[:current_token]) %>
          <% if matching_token && matching_token.email == song.dj %>

            <div class="card_with_button">
              <%= render song %>
              <div class="upvote_button">
                <%= button_to upvote_song_path(song), method: :put, remote: true, style: "background: none; border: none; padding: 0; cursor: pointer;" do %>
                  <i class="fa-solid fa-angle-up" style="font-size: 1.5em; color: #7bdc98; padding: 2.2em;"></i>
                <% end %>
              </div>  
            </div>

          <% end %>
        <% end %>  
      <% end %>  

    <% end %>   
  <% end %>
</div>

<p style="margin: 10em; font-size: .3em;">All rights reserved</p>


