<p style="color: green"><%= notice %></p>

<% if session[:current_user_email] %>
  <div>
    <%= link_to "Return to Main page", root_path %>
  </div>
<% end %>

<% if session[:current_token] %>
  <%= button_to "Leave jam", leave_jam_path, method: :delete %>
<% end %>

<h1>Songs</h1>

<div id="songs">
  <% @songs.each do |song| %>
    <% if !song.played %>
      <% matching_user = User.find_by(email: session[:current_user_email]) %>
      <% if matching_user %>
        <% if song.dj == matching_user.email %>
          <%= render song %>
          <%= button_to "Played", played_song_path(song), method: :put, remote: true %>
        <% end %>
      <% else %>
        <% if session[:current_token] %>
          <% matching_token = Token.find_by(code: session[:current_token]) %>
          <% if matching_token && matching_token.email == song.dj %>
            <%= render song %>
            <%= button_to "Upvote", upvote_song_path(song), method: :put, remote: true %>
          <% end %>
        <% end %>  
      <% end %>  
    <% end %>   
  <% end %>
</div>

<% if session[:current_token] %>
  <%= link_to "New song", new_song_path %>
<% end %>

