<!-- <p style="color: red"><%= alert %></p> -->

<div style="margin: 3em;">
  <%= link_to root_path, class: "home-button"  do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
</div>

<div class="light-heading">
  <% if Current.user.verified? %>
    <h1>Change your email</h1>
  <% else %>
    <h1>Verify your email</h1>
    <p style="color: #e2e2e2">We sent a verification email to the address below. Check that email and follow those instructions to confirm it's your email address. (Btw mailing doesn't work for now hahaha)</p>
    <p><%= button_to "Re-send verification email", identity_email_verification_path, class: "general-submit-button" %></p>
  <% end %>
</div>  

<%= form_with(url: identity_email_path, method: :patch) do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.email_field :email, placeholder: "New email", required: true, autofocus: true, class: "general-input" %>
  </div>
  <div>
    <%= form.password_field :password_challenge, placeholder: "Password", required: true, autocomplete: "current-password", class: "general-input" %>
  </div>

  <div class="button-margin">
    <%= form.button type: :submit, class: "general-submit-button" do %>
      <i class="fa-solid fa-check"></i>
    <% end %>
  </div>

<% end %>
