<!-- <p style="color: red"><%= alert %></p> -->

<div style="margin: 3em;">
  <%= link_to root_path, class: "home-button"  do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
</div>

<div class="light-heading">
  <h1>Change your password</h1>
</div>

<%= form_with(url: password_path, method: :patch) do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.password_field :password_challenge, placeholder: "Old password", required: true, autofocus: true, autocomplete: "current-password", class: "general-input" %>
  <%= form.password_field :password, placeholder: "New password", required: true, autocomplete: "new-password", class: "general-input" %>
  <%= form.password_field :password_confirmation, placeholder: "New password confirmation", required: true, autocomplete: "new-password", class: "general-input" %>

  <div class="button-margin">
    <%= form.button type: :submit, class: "general-submit-button" do %>
      <i class="fa-solid fa-check"></i>
    <% end %>
  </div>

<% end %>
