<div style="margin: 3em;">
  <%= link_to root_path, class: "home-button" do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
</div>

<div class="light-heading">
  <h1>Input your code</h1>
</div>

<%= form_with(url: guest_login_path) do |form| %>

  <div>
    <%= form.text_field :code, placeholder: "Code", value: @token&.code, required: true, class: "general-input" %>
  <div>
  <div class="notice invalid-code"><%= alert %></div>

  <div class="button-margin">
    <%= button_to guest_login_path, method: :post, class: "general-submit-button" do %>
      <i class="fa-solid fa-right-to-bracket"></i>
    <% end %>
  </div>
<% end %>
